*{
    margin: 0;
}
.container{
    width: 50%;
    margin: auto;
}
.header-container{
    width: 50%;
    margin: auto;
    border-bottom: 1px solid black;
    padding:10px 0;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
h1{
    margin-bottom: 15px;
    color: #524e4e;
}
.information{
    display: flex;
    margin-top: 20px;
}
em{
    color:grey;
    margin-top:15px
}
.own-image{
    width: 150px;
    height: 85%;
}
.connection{
    color: grey;
    padding-right: 60px;
}
.data{
    color: #524e4e;
}
.personal-information{
    display: flex;
    justify-content: space-between;
    line-height: 1.8;
}
.about-me{
    font-size: 14px;
    width: 300px;
    line-height: 1.8;
    margin-right: 80px;
    color: grey;
    
}
.title-type{
    width: 15%;
}
h2{
    color:gray;
}
h3{
    margin-bottom: 10px;
    font-style: italic;
    font-size: 20px;
    color: #524e4e;
}

.education-flex{
    display: flex;
    justify-content: space-between;
    padding: 25px 0 15px 0;
    border-top: 1px solid grey;
}
.qualification{
    color:grey;
 
}
.education-title{
    display: flex;
}
.university-description{
 width: 420px;
  line-height: 1.5;

}
.skill-description{
    width: 560px;
     line-height: 1.5;
     color:grey;
  
   }
.uni-title{
    display: flex;
}
.skill-title{
    display: flex;
}

.time{
    margin-left:70px
}
.description{
    margin: 15px 0;
}
