*{
    margin: 0;
}

.header{
    background: url("./assets/background-image.png"), no-repeat;
    background-size: cover;
}

nav{
    padding:45px 0;
    width: 896px;
    margin: auto;
   
}
.type-li{
    list-style-type: none;
    display: inline-block;
    margin-right: 32px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.type-li:hover{
    border-bottom: 1px solid #FFFFFF; 
    opacity: 1;
    cursor: pointer;
    transition-duration: 0.5s;
    transform: scale(1.1);

}
.title-li{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 16px; 
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    list-style-type: none;
}
a{
    text-decoration: none;
    color:#FFFFFF

}
.menu{
    display: flex;
    padding: 0;
    width: 706px;
    justify-content: space-between;
}

.title-description{
    text-align: center;
    margin-top:100px;
    padding-bottom: 150px;
}
.logo{
    margin-top:80px;
}
.title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    margin: 13px 0 42px 0;
}
.description{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 100px;
}
.about{
    padding:87px 0 98px 0;
    text-align: center;
    background-color: #FFFFFF;
    
}
.about-title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #464547;

}
.about-subtitle{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #666666;
    margin:40px 0 48px 0;
}
.about-text1{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    width: 983px;
    margin: auto;
    margin-bottom: 30px;
 }
 .about-text2{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    width: 983px;
    margin: auto;
    margin-bottom: 10px;
 }
 .about-button{
    background: #55C2D8;
    border-radius: 18px;
    padding: 6px 18px;
    border:none;
    font-family: 'Oswald Regular';
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-top:21px
 }

 .culture{
   background: url("./assets/Mask Group.png"), no-repeat;
    background-size: cover;
    text-align: center;

 }
 .color{
   background: rgba(140, 79, 42, 0.3);
   padding: 84px 0 90px 0;
 }
 .culture-title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
   padding:0 0 53px 0;
 }
 .play{
     width: 150px;
     height: 150px;
     border-radius: 50%;
     background: #39C2D7;
     margin: auto;
     border: none; 
     color: white;
     font-size: 70px;
    
 }

 .culture-text{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 70px;
 }
 footer{
    background: #464547;
 }
 .container{
     width: 920px;
     margin: auto;
     padding:21px 0 38px 0;

 }
 .logo2{
     width: 20px;
     height: 20px;
 }
 .footer-logo-block{
     margin-bottom: 14px;
     display: flex;
 }
 .project{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 16px;
 }
 .footer-text{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 6px;
 }
 .footer-text a{
    color: rgba(255, 255, 255, 0.4);
 }